main .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.container h1{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: bold;
}
.container span{
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
}
.container .button-container button{
    padding:5px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    margin: 10px;
}
button:hover{
    background-color: black;
    color: white;
}